@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
/*peh customizations */

/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* Hide Tags in Menu Tab */
a.md-button[aria-label="TAGS"] {display:none;}
a.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}

/*hide default OTB tile*/
prm-no-search-result > md-card {
    display:none;
} 

head {
    display: none;
}

/*more space for logo */
prm-topbar {
    height: 75px;
	background-color: #262F38;
}

/*larger font on top nav */
prm-main-menu[menu-type=menu] .md-button,prm-topbar .top-nav-bar .md-button{font-size:1.25em;text-transform:capitalize;font-weight:600;font-size:1vw}


/login menu */
.md-menu {
	
	/*display: none;*/
}


/*hover on main menu links*/
div#mainMenu div:hover{
	
	background-color:#00546E;
	
}

prm-explore-main prm-topbar .md-button:not(.md-icon-button) {
    color: #fffffc;
	font-weight:bold;
	}
		
	
prm-explore-main prm-topbar .md-button:not(.md-icon-button):hover {
	
	background-color:#00546E;
}

prm-topbar prm-logo {
    max-width: 250px;
    min-width: 150px;
}

prm-logo{
    order:-1;
}

/* remove hover highlight from logo */
#banner > a.md-primoExplore-theme:hover, #banner > a.md-primoExplore-theme:focus {
    background-color: unset;
    box-shadow: unset;
}



div > div > prm-authentication > button[type="button"] {
	background: #00546E;
	color: #fff !important; 
}


div#getit_link1_0 button[type="button"] {
	background: #00546E;
	color: #fff;
}

/*make text headers of full display sections more visible*/

.section-title{font-weight:600;color:#00546E!important;text-transform:uppercase;}

/*facet header text*/
.section-title-header{font-weight:600;color:white!important;text-transform:uppercase;}

/*facet background */

prm-facet-group button.section-title {
	background: #00546E;
}
/*facet text */

prm-facet-group button.section-title div h3 {
	color: #fff;	
}


/* Browse search colour*/

prm-primary-bg, prm-browse-search-bar, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark::after, prm-tags-search-bar {
    background-color: #262F38;
}

.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar {
    background-color: #00546E
}

/*sign in colour*/
/* Top nav bar (strip behind logo) */
prm-topbar .top-nav-bar {
    background-color: #262F38;
    position: relative;
    top: 0px;

/*sign in alert bar*/
}


.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
    background-color: #C7C1B0;
}

.bar.alert-bar, .classic-input .search-scope, .prm-alert-border {
    border-color: #262F38;
}


.md-card-content-text{ 
  height: 100px;
  display: flex;
  text-align:center;
}

/*homepage link buttons*/

a#md-home-links {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	background-color:#262F38;
    text-decoration: none;
	text-align: center;
    color: white;
	font-weight:bold;
	width:50px;
	float: right;
}

a#md-home-links:hover{
	
	background-color:#00546E;
	
}

/*Custom Footer*/
/*- ### --- Primo Footer CSS ---- Code Originally from NLNZ --- ### */
/*- ########## ----------- Footer structure ----------- ########## */
    hr,
    .a-horizontalrule {
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        display: block;
        height: auto;
        margin: 20px 0 30px;
        padding-left: 1.5%;
        padding-right: 1.5%;
        position: relative;
        width: 100%
    }
    hr:before,
    .a-horizontalrule:before {
        background: #bfc0c2;
        content: "";
        display: block;
        height: 2px;
        width: 100%
    }
    hr.horizontalrule-s,
    .a-horizontalrule.horizontalrule-s {
        margin: 10px 0 10px
    }
    hr.no-gutter,
    .a-horizontalrule.no-gutter {
        padding-left: 25px;
        padding-right: 0;
        overflow:hidden;
    }
    .clear {
        clear:both;
    }
    #footerWrapper {
        background-color:#262F38;
        position:relative;
        z-index:1;
    }
	
	prm-explore-footer-after #footerWrapper {margin-top: 20px;}
	
    #footerWrapper .headline  {
        font-size:16px;
        font-weight:bold;
        line-height:22px;
        color:#fffffc;
        margin-bottom:20px;
    }
    #footerWrapper > ul {
        list-style: none outside none;
        margin: 0 auto;
        max-width:1200px;
        overflow:hidden;
        padding-top:30px;
        padding-bottom:22px;
        position:relative;
        width: 100%;
        border-bottom: 2px solid #fffffc;
    }
    #footerWrapper > ul li {
        float:left;
        width:33.3%;
        margin-left: 12%;
    }
    #footerWrapper > ul li:first-child {
        padding-left:0;
    }
    #footerWrapper > ul li .text {
        color: #fffffc;
        font-size:14px;
        line-height:20px;
        position:relative;
        text-align:left;
        padding-top:10px;
        padding-right:15px;
        padding-left:0;
        padding-bottom:0;
    }
    .span {
         padding-bottom: 10px;
    }
    .ftext {
        /*because normally we the use text class independent of parent, so I'm not deleting it--skc*/
        font-size:16px;
        font-weight:normal;
        line-height:20px;
        color:#fffffc;
        margin-bottom:10px;
    }
    .ftext a {
        color:#fffffc;
        text-decoration: underline; /*Jiet's design*/
    }
    .ftext a:hover {
        color:#ffffff;
		font-weight:bold;
    }
    /*- Area below; footer level 2: links and logos */
    #footerWrapper .bar {
        font-size:16px;
        font-weight:normal;
        line-height:20px;
        height: auto;
        background-color: #262F38;
        padding: 20px 0;
        border:0;
    }
    #footerWrapper .bar-wrap {
    margin: 0 auto; /*keeps this part in alignment with upper portion */
    max-width: 1200px;
    position: relative;
    padding:20px 0;
    width: 95%;
    box-shadow: 0 50vh 0 50vh #262F38; /* make footer look like it goes to bottom of page*/
    }
    #footerWrapper > ul .bar-wrap {
        display: inline-block;
        /*ensure links behave as a group*/
    }
    #footerWrapper > ul li .bar-wrap {
        float:left;
        width: 40%;
    }
    .links {
        font-size:14px;
        line-height:20px;
        float:left;
        list-style: none outside none;
        position:relative;
    }
    .links li {
        display: inline-block;
        float:left;
        margin-right:10px;
        color:#fffffc;
    }
    .links a {
        color:#fffffc;
        text-decoration:underline; /*as per Jiet's design--skc*/
    }
    .links a:hover {
        color:#ffffff;
    }
    .copyright {
        /*color: #333;
        margin-top: 5px;
        placeholder; no statement here--skc 
        */
    }
    .logos {
        display:inline-block;
        position:absolute;
        right:0;
        bottom:0;
    }
    .logos a {
        margin-left: 30px;
    }
    .logos a:hover {
        color:#ffffff;
    }
    .logos .icon {
        /*no styling but we can if the Library every wants these, like homepage--skc */
    }
    .logos a:hover .icon {
        /*...icons to link to something, or add twitter, rss feeds etc. with icons--skc */
    }
    .logos .nl, .all-govt {
        display:inline-block;
        vertical-align:middle;
    }
	
	
	/*- ########## Resizing for responsive media ########## */
    @media screen and (max-width: 600px) {
        .links, .logos {
            float:none;
            text-align:center;
        }
        .logos {
            position:relative;
            margin:10px 0;
        }
        .links li {
            font-size: 12px;
            display:inline-block;
            float:none;
        }
        .bar {
            position:relative;
        }
        .bar-wrap {
            margin-bottom:0;
        }
    }

    @media screen and (max-width: 835px)  {
        #footerWrapper > ul li {
            float:left;
            width:auto;
        }
    }

    @media screen and (max-width: 768px)  {
        .links li {
            margin-right:5px;
            font-size: 12px;
        }
    }    
    /*ipad in potrait and landscape */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
        prm-logo-after .product-logo-after .md-primoExplore-theme .nlnz-catalogue {
            display:none;
        }
    }

    /*ipad in landscape */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
        prm-logo-after .product-logo-after .md-primoExplore-theme .nlnz-catalogue {
            display:none;
        }
    }

    /*iPad in portrait*/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
        prm-logo-after .product-logo-after .md-primoExplore-theme .nlnz-catalogue {
            display:none;
        }
     }

    /*browser-specific hack*/
    /* saf3+, chrome1+ 
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        prm-logo-after .product-logo-after .md-primoExplore-theme .nlnz-catalogue{
            display:none;
        }
    }
    */
     /* iPhone / mobile webkit */
     @media screen and (max-device-width: 480px) {
        prm-logo-after .product-logo-after .md-primoExplore-theme .nlnz-catalogue {
            display:none;
        }
        prm-logo .product-logo-after{
            width: 100px; /*seems to be appropriatedly sized to trigger hide-text action*/
        }
     }


/*homepage*/
.md-headline {font-weight:600;background-color:#00546E;color:white;font-size:20px;padding:7px;}
.md-headline, .md-headline-intro{font-weight:600;}

/*.md-headline-intro {font-weight:600;background-color:#A23479;color:white;font-size:20px;padding:7px;}

.md-headline-intro a {
		color: black !important;
}*/

.md-sub-headline{font-weight:600;background-color:#3D4753;color:white;font-size:20px;padding:7px;text-align:center;}
.md-sub-headline{font-weight:600;}

.fa-map-signs, .fa-laptop, .fa-book {
	text-align: center;
	color:#3D4753;
	
}


.home-info a {
    text-decoration: none;
    border: 0;
    background-color: transparent;
    box-shadow: none;
	text-align: center;
	color: #000000;
}

.home-info a:hover {
    text-decoration: none;
    border: 0;
    background-color: transparent;
    box-shadow: none;
}

.home-info a:hover .md-card-content-text {
    color: #000000;
}

.md-headline-intro {
	
	display:block;
	
	
}

.md-headline-intro img {

	width:100%; 
	height: 100%;
}


/*re-order full display sections */

#getit_link1_0 { order: 0; }
#getit_link2_0 { order: 1; }
#details { order: 2; }
#action_list{ order: 3; } 
#links { order: 4; }
#citationsTrails { order: 5; }
#virtualBrowse { order: 6; }
.syndetic-unbound-section{ order: 7; }

.full-view-inner-container {
padding-bottom: 10em;
display: flex;
flex-direction: column;
}


/*#altmetrics { order: 7; }*/
/*#tags { order: 8; }*/
.accessible-explore{ order: 8; }

.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

[aria-label="View Online"] { order: 0 !important; }
[aria-label="Find in Library"] { order: 1 !important; }
[aria-label="Details"] { order: 2 !important; }
[aria-label="Send to"] { order: 3 !important; }
[aria-label="Links"] { order: 4 !important; }
[aria-label="Citations"] { order: 5 !important; }
[aria-label="Browse Shelves"] { order: 6 !important; }
/*[aria-label="Altmetrics"] { order: 7 !important; }*/
/*[aria-label="Tags"] { order: 8 !important; }*/


#lcs_slide_out-8496{
	
	margin-right:1250px;
	font-size:large;
	
}


#close_cache^{
	
	background-color:#00546E;
	
}


.new-request-button {
	
  color: #fffffc;
  background-color: #00546E;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
	
}

	
/*end peh customizations */


